  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;600;700;800&display=swap');
  body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  /* background: url('https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg?w=1380&t=st=1698525360~exp=1698525960~hmac=e610d6ef7b3741325028d1d789ee33502414a3ca4f767545da6d4149886a3c95') no-repeat center center fixed; */
  /* background: url('https://images.pexels.com/photos/7130503/pexels-photo-7130503.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed; */
  /* background: url('https://img.freepik.com/free-vector/white-abstract-background-3d-paper-style_23-2148403777.jpg?w=1380&t=st=1698612854~exp=1698613454~hmac=5d34f54fd5fe25b4458216ce6c2c50290328a5a553eee51653b363d7c1370762') no-repeat center center fixed; */
  background: url('./back2.jpg') no-repeat center center fixed;
  /* background: url('https://img.freepik.com/free-vector/abstract-fluid-neon-color-3d-effect-background-banner-design-multipurpose_1340-16754.jpg?size=626&ext=jpg&uid=R117304118&ga=GA1.1.1419966570.1698525126&semt=ais') no-repeat center center fixed; */
  background-size: cover;
}
content {
  text-align: center;
  /* padding: 100px; */
  color: #333;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
}
.main {
  /* background-image: url(./back2.jpg); */
  /* background-image: url('./Intro\ link.jpg'); */
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:768px) {
  .main {
    padding: 30px ;
  }

  .container {
    height: auto;
  }

  .container .content {
    height: 100%;
    padding: 20px 10px;
  }
  .content h1{
    font-size: 4vw;
    font-weight: 900;
  }
}

.container {
  min-height: 53rem;
  max-width: 550px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(38, 38, 38, 0.4), rgba(38, 38, 38, 0.3), rgba(255, 255, 255, 0));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 25px;
  /* border:1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content > img {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content h1 {
  font-size: 32px;
  /* text-transform: uppercase; */
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
  color: #fff;
  text-shadow: -10px 10px 7px #333;
}

.content p {
  text-align: center;
  font-weight: 600;
  line-height: 18px;
  width: 88%;
  /* font-family: 'Archivo', sans-serif;  */
  font-family: 'Exo 2', sans-serif;
  /* font-style: italic; */
  letter-spacing: 0.4px;
  padding: 16px 0;
  color: white;
  /* color:#fff; */
  /* padding: 20px   ; */
}

.content .github {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 40px;
  width: 80%;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.content .github a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-left: 15px;
}

.content .github img {
  height: 24px;
  width: 24px;
  /* margin-bottom: 50px; */
  margin-right: 10px;
}

.content .linkedin {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 40px;
  width: 80%;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .linkedin a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-left: 15px;
}

.content .linkedin img {
  height: 28px;
  width: 28px;
  /* margin-bottom: 50px; */
  margin-right: 10px;
}

.content .instagram {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 40px;
  width: 80%;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .instagram a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-left: 15px;
}

.content .instagram img {
  height: 36px;
  width: 24px;
  /* margin-bottom: 50px; */
  margin-right: 10px;
}


.content .Facebook {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 40px;
  width: 80%;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .Facebook a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-left: 15px;
}

.content .Facebook img {
  height: 24px;
  width: 32px;
  /* margin-bottom: 50px; */
  margin-right: 10px;
}


.content .Resume {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 40px;
  width: 80%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .Resume a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-left: 15px;
}

.content .Resume img {
  height: 24px;
  width: 28px;
  /* margin-bottom: 50px; */
  margin-right: 10px;
}